.vs/
learn-c-sharp/.vs/
learn-c-sharp/.idea/
learn-c-sharp/basic-about-c-sharp/bin
learn-c-sharp/basic-about-c-sharp/obj
learn-c-sharp/basic-about-c-sharp/.idea/
learn-c-sharp/.vs/learn-c-sharp/v16/.suo
learn-c-sharp/learn-c-sharp.sln.DotSettings.user
learn-c-sharp/basic-about-c-sharp/.vs
learn-c-sharp/basic-win-form/bin/
learn-c-sharp/basic-win-form/obj/
learn-c-sharp/PadDL/obj/
learn-c-sharp/DlApp/obj/
learn-c-sharp/DlApp/bin/
learn-c-sharp/learn-delegate/bin/
learn-c-sharp/learn-delegate/obj/
learn-c-sharp/learn-event/bin/
learn-c-sharp/learn-event/obj/
learn-c-sharp/learn-exeption/bin/
learn-c-sharp/learn-exeption/obj/
learn-c-sharp/learn-networking/bin/
learn-c-sharp/learn-networking/obj/


learn-c-sharp/learn-thread/obj/
learn-c-sharp/learn-thread/bin/